.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
*.vsix
cfg.json
inspect-ollama-stream.js
query-ollama*.js
verify-ollama.js
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
